@import "tailwindcss";

* {
  cursor: none !important;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition-property: all;
  transition-duration: 200ms;
  background-image: linear-gradient(to right, #22c55e, #16a34a);
  color: white;
}

.button:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.modal-header [aria-label="Close"] {
  @apply text-green-800 hover:bg-green-100 p-2 transition-all delay-100;
}
.modal-header [aria-label="Close"] svg {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(16, 185, 129, 0.8) 0%,
    rgba(5, 150, 105, 0.9) 50%,
    rgba(4, 120, 87, 1) 100%
  );
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(5, 150, 105, 0.9) 0%,
    rgba(4, 120, 87, 1) 50%,
    rgba(6, 78, 59, 1) 100%
  );
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(
    180deg,
    rgba(4, 120, 87, 1) 0%,
    rgba(6, 78, 59, 1) 100%
  );
}
