@import "tailwindcss";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition-property: all;
  transition-duration: 200ms;
  background-image: linear-gradient(to right, #22c55e, #16a34a);
  color: white;
}

.button:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #73e69d, #16a34a);
  border-radius: 10px;
}
